In [2]:
import sqlite3

In [58]:

def db_execution(query,db="sid.db"):
    try:
        connection=sqlite3.connect(db)
        x=connection.execute(query)
        x_output=x.fetchall()
        if len(x_output)>1:
            return x_output
    except Exception as ex:
        return ex

    finally:
        connection.commit()
        connection.close()
    with open("sid.txt","r") as my_file:
        content=my_file.readlines()
    for data in content:
        output=data.split(",")
        query="""insert into sports ("name",created) values ("{}",{}).format(output[0],output[1])"""
        print(query)

a=db_execution(query)
if a!=None:
    print(a)

insert into sports ("name",created) values ("{}",{}).format(output[0],output[1])
insert into sports ("name",created) values ("{}",{}).format(output[0],output[1])
insert into sports ("name",created) values ("{}",{}).format(output[0],output[1])

In [57]:
#query="""create table sports ("name" text ,"created" integer)"""
#query="""insert into sports values("football",1990)"""
#query="""insert into sports values("cricket",1990)"""
#query="""insert into sports values ("hockey","1996")"""
query="""select * from sports where created>1996"""

insert into sports ("name",created) values ("{}",{}).format(output[0],output[1])
insert into sports ("name",created) values ("{}",{}).format(output[0],output[1])
insert into sports ("name",created) values ("{}",{}).format(output[0],output[1])

In [ ]:
with open("raj.txt","r") as file_obj:
    content = file_obj.readlines()
    for data in content:
        output = data.split(",")
        query = """insert into sports (name,created) values ("{}",{})""".format(output[0],output[1].strip("\n"))
        print(query)
        my_db_output = DB_Execution(query)
        if my_db_output != None:
            print(my_db_output)