In [23]:
import sqlite3

In [25]:
connection=sqlite3.connect("sid5.db")
query="""create table sports ("name" text ,"created" integer)"""
query="""insert into  sports ("name,created") values("cricket",1990)"""
execution=connection.execute(query)
query="""select * from sports"""
print(execution)
print(execution.fetchall())


connection.commit()
connection.close()

OperationalError: no such table: sports