In [2]:
def myfunc():
    print("welcome")
    
    
myfunc()

welcome

In [19]:
def func1(user):
    print("Welcome",user)

In [20]:
func1("mohan")
func1(4)
func1(['dhoni',"b","r"])
func1({"dhoni":"12"})
#It can take all type of arguments.

Welcome mohan
Welcome 4
Welcome ['dhoni', 'b', 'r']
Welcome {'dhoni': '12'}

In [21]:
def func2(user,place):
    print("Welcome",user,"from",place)

In [22]:
func2("dhoni","delhi")

Welcome dhoni from delhi

In [25]:
def func3(user,place="india"):#default arument
    print("Welcome",user,"from",place)
    
func3("dhoni")
func3("kohli","delhi")

Welcome dhoni from india
Welcome kohli from delhi

In [29]:
def func4(user="dhoni",place):#default arument
    print("Welcome",user,"from",place)
    
func4("dhoni")

SyntaxError: non-default argument follows default argument (<ipython-input-29-c4f20ede6310>, line 1)

In [32]:
def func5(user="kohli",place):#default arument
    print("Welcome",user,"from",place)
    

func5("delhi")

SyntaxError: non-default argument follows default argument (<ipython-input-32-32cdf7ba2768>, line 1)

In [34]:
def func6(user,place):
    print("Welcome",user,"from",place)
    
func6(user="sid",place="bad")

Welcome sid from bad

In [37]:
def student_pass(*users):
    print(users)

In [39]:
student_pass("dhoni")
student_pass("dhoni","kohli") #updated as * is there and outpt in tuple.

('dhoni',)
('dhoni', 'kohli')

In [43]:
def student_detail(**users): #keyword argument and output in dictionary
    print(users)

In [44]:
student_detail(name="dhoni")
student_detail(name="kohli",age=33)

{'name': 'dhoni'}
{'name': 'kohli', 'age': 33}

In [48]:
def student_mark(name,eng,math):
    total=eng+math
    return total

output=student_mark("dhoni",90,90)
print(output)

180

In [52]:
def student_mark1(name,eng,math):
    total=eng+math
    return total

output=student_mark1("dhoni",90,90)
print(output)
if output>150:
    print("first class")
else:
    print("second class")

180
first class

In [55]:
def student_mark2(name,eng,math):
    total=eng+math
    return total,name

output=student_mark2("dhoni",90,90)
print(output)
if output[0]>150:   #0 is used as we want to execute print 0th index of tuple.
    print("first class")
else:
    print("second class")

(180, 'dhoni')
first class

In [59]:
def student_mark3(name,eng,math):
    total=eng+math
    return total

output,output_name=student_mark3("dhoni",90,90)
print(output,output_name)

if output>150:
    print("first class")
else:
    print("second class")

TypeError: cannot unpack non-iterable int object